@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

.font {
    font-family: 'IBM Plex Sans', sans-serif;
}

.prose img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.home-name {
    font-size: 150px;
    
}